/* Dit is voor de darkmode. Daarin zijn alle kleuren anders*/

/* Dan komen alle speciale kleuren voor sites.*/
.w3schools{
  color: #04AA6D;
}

.somtoday{
  color: #6CC3C6;
}

.wrts_link{
  color: #8952da;
}

.spotify_link{
  color: #1ed760;
}


/* Dit zijn de kleuren voor de google sites.*/

/*
.google_blue td{
  background-color: #4285f4;
}
*/

.google_blue a{
  color: #4285f4;
}
.google_green a{
  color: #34a853;
}

.google_yellow a{
  color: #fbbc05;
}

.google_red a{
  color: #ea4335;
} 

.google_purple a{
  color: #673ab7
}

.gmail_color a{
  color: #d93025
}

.meet_color a{
  color: #00796b; 
}

.calendar_color a, .translate_color a{
  color: #1a73e8;
}

.red a{
  color: #FF0000;
}

.contacts_color a{
  color: #1967d2;
}

.classroom_color a{
  color: #26A668;
}

/* Als laatste komen de speciale kleuren voor de classrooms.*/

.classroom_black a{
  /* Zwarte linkjes zijn niet handig op een donkere achtergrond, dus laten
   we die gewoon wit. */
  /*{color: #202124;*/
}
/*
.classroom_black td{
  background-color: #f1f3f4;
}
*/
.classroom_darkblue a{
  color: #174ea6;
}

.classroom_orange a{
  color: #c26401;
}

.classroom_cyan a{
  color: #007b83;
}

.classroom_green a{
  color: #137333;
}

.classroom_blue a{
  color: #1967d2;
}

.classroom_pink{
  color: #b80672;
}

/* Dit is een speciale toevoeging voor als browser niet de darkmode gebruiken*/

body{
  background-color: #202124;
  color: #e8eaed;
}